

<div class="relative overflow-x-auto shadow-md sm:rounded-lg m-5">
    <h1 class="m-5">Todas la ordenes de clientes</h1>
    <div class="pb-4 bg-white dark:bg-gray-900 m-2">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
             
            </div>
            <input placeholder="Buscar por numero de orden" (input)="displayOrders()" [(ngModel)]="filters.keyword"  name="keyword" type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
            
                <th scope="col" class="px-6 py-3">
                    Numero de orden
                </th>
                <th scope="col" class="px-6 py-3">
                    Dia
                </th>
                <th scope="col" class="px-6 py-3">
                    total
                </th>
                <th scope="col" class="px-6 py-3">
                    Detalles
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">eliminar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempOrder of orders "  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   <a>{{tempOrder.orderTrackingNumber}}</a> 
                </td>
                <td scope="col" class="px-6 py-3">
                    {{tempOrder.dateCreated}}
                </td>
                <td class="px-6 py-4">
                    {{tempOrder.totalPrice}}
                </td>
                <td scope="col" class="px-6 py-3">
                    <a href="/order/{{tempOrder.id}}">Ver Productos</a> 
                </td>       
                <!-- <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td> -->
            </tr>
    
    </table>
</div>
