


    <section class="relative h-screen flex flex-col items-center justify-center text-center text-white py-0 px-3">
      <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
          <video class="min-w-full min-h-full absolute object-cover" src="/assets/videos/videoplayback.mp4" type="video/mp4" autoplay muted loop></video>
      </div>
      <div class="video-content space-y-2">
          <h1 class="font-light text-8xl"><a>Descubre nuestros</a></h1>
         
          <button routerLink="/products" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-5 rounded-full  text-5xl mt-5 ">
            PRODUCTOS
          </button>
         
      </div>
    </section>
  

    <body class="body">
      <div>
        <div>
          <header class="uui-section_heroheader01">
            <div class="uui-page-padding">
              <div class="uui-container-large"></div>
            </div>
          </header>
        </div>
        <div>
          <header class="uui-section_heroheader02">
            <div class="uui-page-padding">
              <div class="uui-container-large"></div>
            </div>
          </header>
        </div>
      </div>
      <div >
        <div class="kutup-section-3 wf-section" style="background-color: rgb(255, 255, 255);">
          <div class="kutup-large-container-4">
            <div class="kutup-features-grid-2">
              <div id="w-node-_6256f945-cfba-af85-186f-7f518c4e4448-bdc8348b">
                <h3 class="kutup-display-6">Jeans al por mayor a los mejores precios del mercado  </h3>
                <div class="kutup-divider-60px-2"></div> 
                <div>
                  <div class="kutup-featrues-flex-2">
                    <div class="kutup-features-line-block-2">
                      <img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div>Precios accesibles</div>
                    </div>
                    <div class="kutup-features-line-block-2">
                      <img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div class="text-block-12">vendemos al detal</div>
                    </div>
                    <div class="kutup-features-line-block-2">
                      <img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div>alta caliad</div>
                    </div>
                    <div class="kutup-features-line-block-2">
                      <img src="/assets/icons/handshake_FILL0_wght400_GRAD0_opsz48.svg" loading="lazy" width="30" alt="">
                      <div>pedidos a todo el pais</div>
                    </div>
                  </div>
                </div>
                <div class="kutup-divider-60px-2"></div>
                <a href="#"  routerLink="/products" class="kutup-button-green-2 w-button">Visita nustros productos</a>
              </div><img src="/assets/images/Carolina Colonia - Portafolio Digital.jpg" loading="lazy" id="w-node-_6256f945-cfba-af85-186f-7f518c4e4461-bdc8348b" sizes="(max-width: 479px) 90vw, (max-width: 991px) 77vw, 38vw" alt="" class="kutup-photo-wrapper-3">
            </div>
          </div>
        </div>
      </div>












      
      <div>
        <div class="kutup-testimonials-section wf-section" style="background-color: rgba(8, 92, 166, 0.381);">
          <div class="kutup-medium-container-2">
            <div class="kutup-max-w-width-640px-2">
              
              <div class="kutup-divider-30px-4"></div>
            </div>
            <div class="kutup-client-grid">

              <div class="kutup-client-wrapper-2">
                <div class="kutup-start-flex">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"></div>
                <div>“It’s not about ideas. It’s about making ideas happen.&quot;</div>
                <div class="kutup-divider-20px-2"></div>
                <h4 class="kutup-author-title">John Doe, Kutup Founder</h4>
              </div>

              <div class="kutup-client-wrapper-2">
                <div class="kutup-start-flex">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"></div>
                <div>“It’s not about ideas. It’s about making ideas happen.&quot;</div>
                <div class="kutup-divider-20px-2"></div>
                <h4 class="kutup-author-title">John Doe, Kutup Founder</h4>
              </div>

              <div class="kutup-client-wrapper-2">
                <div class="kutup-start-flex">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image">
                  <img src="/assets/icons/icons8-star-240-p-130x130q80.png" loading="lazy" width="20" alt="" class="kutup-star-image"></div>
                <div>“It’s not about ideas. It’s about making ideas happen.&quot;</div>
                <div class="kutup-divider-20px-2"></div>
                <h4 class="kutup-author-title">John Doe, Kutup Founder</h4>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="kutup-section-3 wf-section" style="background-color: rgba(0, 213, 255, 0.041);">
          <div class="kutup-large-container-4">
            <div class="kutup-max-w-width-640px-2">
          
              <h2 class="kutup-display-7">Nuestros socios comerciales.</h2>
            </div>
            <div class="kutup-divider-40px-2"></div>
            <div>
              <div class="kutup-logo-grid-2">
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0b-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a4af4982e3_logo-2.png" loading="lazy" width="150" id="w-node-a1321c92-d222-1101-9819-47d2986a9f0c-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0b-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a4af4982e3_logo-2.png" loading="lazy" width="150" id="w-node-a1321c92-d222-1101-9819-47d2986a9f0c-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0d-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f1a75b4982de_logo-5.png" loading="lazy" id="w-node-a1321c92-d222-1101-9819-47d2986a9f0e-bdc8348b" width="150" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f0f-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f159dc4982e5_logo-1.png" loading="lazy" width="140" id="w-node-a1321c92-d222-1101-9819-47d2986a9f10-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f11-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f155a94982e0_logo-6.png" loading="lazy" width="170" id="w-node-a1321c92-d222-1101-9819-47d2986a9f12-bdc8348b" alt="" class="kutup-logo-image-2"></div>
                <div id="w-node-a1321c92-d222-1101-9819-47d2986a9f13-bdc8348b"><img src="/assets/icons/socios/636c8ade6f88f118164982dc_logo-3.png" loading="lazy" width="150" id="w-node-a1321c92-d222-1101-9819-47d2986a9f14-bdc8348b" alt="" class="kutup-logo-image-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    </body>


    
  




    