

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-10">
    <h1 class="m-5">Inventario de pagina</h1>
    <div class="flex flex-row ">
      <div class=" pb-4 bg-white dark:bg-gray-900 m-2">
          
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
           
            </div>
            <input placeholder="Buscar por nombre o referencia" [(ngModel)]="filters.keyword"  name="keyword" (input)="displayProducts()" type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
        </div>
    </div>
    
    <div ngbDropdown class="relative inline-block text-left mt-2">

      <div class="flex">
        <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your
          Email</label>

        <button ngbDropdownToggle id="dropdown-button" data-dropdown-toggle="dropdown"
          class=" text-gray-800 text-base font-semibold flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4  text-center    dark:hover:bg-gray-600 dark:focus:ring-gray-700"
          type="button">opciones<svg aria-hidden="true" class="w-4 h-4 ml-1" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          </svg></button>

        <div  id="dropdown"class=" dropdown-menu   z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">

          <ul ngbDropdownMenu class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">

            <div>
            
              <li>
                <button type="button"
                routerLink="/addProduct" 
                  class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Añadir producto</button>
              </li>
              <li>
                <button 
                routerLink="/ordersList" 
                  type="button"
                  class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Lista de ordenes</button>
              </li>
              <li>
                <button type="button"
                  routerLink="#" 
                  class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Lista de Mensajes</button>
              </li>
              <li>
      
      

              </li>
            </div>
          
          </ul>
        </div>
      </div>

    </div>






    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr >
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                     Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Referencia
                </th>
                <th scope="col" class="px-6 py-3">
                  Pricio
                </th>
                <th scope="col" class="px-6 py-3">
                  Disponibles
                </th>
                <th scope="col" class="px-6 py-3">
                  Ult actulizacion
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Actualizar</span>
                </th>
                <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Eliminar</span>
              </th>
            </tr>
        </thead>
        <tbody>

            <tr  *ngFor="let tempProduct of products"  class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
               
                <td class="px-6 py-4">
                  <div class="overflow-hidden rounded-lg w-16 h-25 bg-gray-50 border border-gray-200">
                    <img src="{{tempProduct.imageURl}}" alt="">
                  </div>
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{tempProduct.productName}}
                </th>
                <td class="px-6 py-4">
                  {{tempProduct.productReference}}
                </td>
                <td class="px-6 py-4">
                  ${{tempProduct.productPrice}}
                </td>
                <td class="px-6 py-4">
                  {{tempProduct.unitsInStock}}
                </td>
                <td class="px-6 py-4">
                  {{tempProduct.lastUpdated}}
                </td>
                <td class="px-6 py-4 text-right">
                    <a routerLink="/editProduct/{{tempProduct.productId}}"  class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                  <a (click)="deleteProduct(tempProduct.productId)"  class="font-medium text-red-600 dark:text-red-500 hover:underline">Eliminar</a>
              </td>
            </tr>

        </tbody>
    </table>
</div>

 
  


 

