


<div *ngIf="auth.user$ | async as user" class="flex items-center h-screen w-full justify-center">
    <div class="max-w-xs">
        <div class="bg-white shadow-xl rounded-lg py-3">
            <div class="photo-wrapper p-2">
                <img class="w-32 h-32 rounded-full mx-auto"  [src]="user.picture"   alt="John Doe">
            </div>
            <div class="p-2">
                <h3 class="text-center text-xl text-gray-900 font-medium leading-8">{{user.given_name}}</h3>
                <div class="text-center text-gray-400 text-xs font-semibold">
                    <p>Mi info</p>
                </div>
                <table class="text-xs my-3">
                    <tbody>
                    
            
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold">Nombre completo</td>
                        <td class="px-2 py-2">{{user.name}}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold">Nombre de usuario</td>
                        <td class="px-2 py-2">{{user.nickname}}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold">Email</td>
                        <td class="px-2 py-2">{{user.email}}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold">Ultima coneccion</td>
                        <td class="px-2 py-2">{{user.updated_at}}</td>
                    </tr>
                </tbody></table>
    
                <div class="text-center my-3">
                    <a class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium" href="#">Editar</a>
                </div>
    
            </div>
        </div>
    </div>  
</div>